venv/
**/*__pycache__
**/*.pyc
**/*.gitignore
**/*.DS_Store
Create_database.png
Create_login.png
Postgre_Create_Login_Group-Role.png
**/*.pytest_cache
**/*.git
Dockerfile
.mypy_cache
.pre-commit-config.yaml
.pytest_cache
